<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #f1="ngForm" (ngSubmit)="onSubmit(f1)">

    <ion-list lines="none">

      <ion-list-header>
        <ion-label>Owner Details</ion-label>
      </ion-list-header>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="person" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="text"
            label=""
            errorText="* Please enter your name"
            name="name"
            ngModel
            #name="ngModel"
            placeholder="Name"
            required>
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="mail" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="email"
            label=""
            errorText="* Please enter a valid email address"
            name="email"
            ngModel
            email
            #emailCtrl="ngModel"
            placeholder="Email"
            required>
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="call" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="tel"
            label=""
            errorText="* Please enter a valid phone number"
            name="phone"
            ngModel
            #phone="ngModel"
            placeholder="Phone"
            required
            minlength="10"
            maxlength="10">
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="key" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="password"
            name="password"
            label=""
            errorText="* Password must be of minimum 8 characters long."
            ngModel
            #passwordCtrl="ngModel"
            placeholder="Password"
            required
            minlength="8">
          </ion-input>
        </ion-item>
      </ion-item-group>

    </ion-list>

    <ion-list lines="none">

      <ion-list-header>
        <ion-label>Restaurant Details</ion-label>
      </ion-list-header>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="person" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="text"
            label=""
            errorText="* Please enter your name"
            name="res_name"
            ngModel
            #res_name="ngModel"
            placeholder="Name"
            required>
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-textarea
            type="text"
            name="description"
            label=""
            ngModel
            #description="ngModel"
            placeholder="Description">
          </ion-textarea>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-label>Open Time</ion-label>
          <ion-datetime
            name="openTime"
            ngModel
            #openTime="ngModel"
            required
            presentation="time">
          </ion-datetime>
        </ion-item>
        <ion-text color="danger" *ngIf="!openTime.valid && openTime.touched">
          <p class="errorMsg">* Select Opening Time.</p>
        </ion-text>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-label>Close Time</ion-label>
          <ion-datetime
            name="closeTime"
            ngModel
            #closeTime="ngModel"
            required
            presentation="time">
          </ion-datetime>
        </ion-item>
        <ion-text color="danger" *ngIf="!closeTime.valid && closeTime.touched">
          <p class="errorMsg">* Select Closing Time.</p>
        </ion-text>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-select
            label="City"
            name="city"
            ngModel
            #city="ngModel"
            required>
            <ion-select-option *ngFor="let city of cities" [value]="city._id">{{city?.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="!city.valid && city.touched" class="ion-text-center">
          <p class="errorMsg">* Select City.</p>
        </ion-text>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-label>
            Address
            <p class="ion-text-wrap" *ngIf="location && location?.lat">{{location?.address}}</p>
          </ion-label> 
          <ion-button color="primary" size="small" (click)="searchLocation()">Search</ion-button>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="cash-outline" slot="start" color="primary"></ion-icon> 
          <ion-input
            label=""
            errorText="* Please enter price for two persons"
            type="number"
            name="price"
            ngModel
            #price="ngModel"
            placeholder="Price"
            required>
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-group class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="time-outline" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="number"
            label=""
            errorText="* Please enter Expected Delivery Time"
            name="delivery_time"
            ngModel
            #delivery_time="ngModel"
            placeholder="Expected Delivery Time"
            required>
          </ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item>
        <ion-label>
          Cover Image
          <p>
            <input type="file" (change)="preview($event)">
          </p>
        </ion-label>
        <ion-thumbnail slot="end" *ngIf="coverImage">
          <img [src]="coverImage"/>
        </ion-thumbnail>
      </ion-item>

      <ion-item color="light" lines="full" class="ion-margin-top">
        <ion-input label="ENTER CATEGORY" labelPlacement="floating" name="category" [(ngModel)]="category"></ion-input>
        <ion-toggle aria-label="Category toggle" slot="end" mode="md" color="success" name="isCuisine" [(ngModel)]="isCuisine"></ion-toggle>
      </ion-item>

      <ion-button type="button" size="small" (click)="addCategory()" color="primary">ADD</ion-button>
      <ion-button type="button" size="small" (click)="clearCategory()" color="danger">CLEAR</ion-button>
      <p *ngIf="categories?.length > 0">Categories: {{getArrayAsString(categories)}}</p>
      <p *ngIf="cuisines?.length > 0">Cuisines: {{getArrayAsString(cuisines)}}</p>

    </ion-list>

    <ion-button 
      *ngIf="!isLoading" 
      [disabled]="!f1.valid"
      expand="block" 
      shape="round" 
      type="submit" 
      color="primary">
      Save
    </ion-button>

    <div class="ion-text-center" *ngIf="isLoading">
      <ion-button 
        shape="round" 
        color="primary" 
        [disabled]="!f1.valid">
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>


