ion-item {
  letter-spacing: 0.5px;
  .veg {
    border: 1px solid var(--ion-color-success);
  }

  .nonVeg {
    border: 1px solid var(--ion-color-danger);
  }

  ion-text {
    font-size: 0.8rem;
    span {
      padding: 0 0.1rem;
      margin-right: 2vw;
      border-radius: 2px;
    }
  }
  ion-label {
    font-size: 0.8rem !important;
    font-weight: bold;
  }
  ion-row {
    border: 1px solid var(--ion-color-medium);
    border-radius: 2px;
    padding: 0.3rem;
    margin-right: 1vw;
  }

  .quantity {
    width: 2rem;
  }

  .price {
    width: 4rem;
  }
}
