<ion-item class="ion-no-padding" [ngClass]="!item?.status ? 'grayScale' : ''">
  <ion-thumbnail slot="start">
    <img *ngIf="item?.cover" [src]="item.cover" />
  </ion-thumbnail>
  <ion-label class="ion-text-wrap">
    <ion-text>{{item?.name}}</ion-text>
    <p *ngIf="item?.description">{{item?.description}}</p>
    <ion-text><p>${{item?.price | number: '0.2-2'}}</p></ion-text>
  </ion-label>
  <ion-row slot="end" *ngIf="(!item?.quantity || item?.quantity <= 0) && item?.status" (click)="quantityPlus()">
    <ion-text class="add" color="success">Add</ion-text>
  </ion-row>
  <ion-row slot="end" *ngIf="(item?.quantity > 0) && item?.status">
    <ion-icon color="success" name="remove-outline" (click)="quantityMinus()"></ion-icon>
    <ion-text class="ion-text-center quantity" color="success">{{item?.quantity}}</ion-text>
    <ion-icon color="success" name="add-outline" (click)="quantityPlus()"></ion-icon>
  </ion-row>
</ion-item>